TMDB_API_KEY=sua_chave_aqui
DB_HOST=35.226.64.52
DB_USER=usuario_disciplina
DB_PASSWORD=senha_disciplina
DB_NAME=banco_disciplina
SECRET_KEY=chave_flask
PORTA_ALUNO=5000

MAIL_SERVER=smtp-relay.brevo.com
MAIL_PORT=587
MAIL_USERNAME=seu_login_do_brevo
MAIL_PASSWORD=sua_smtp_key_do_brevo
MAIL_USE_TLS=True
MAIL_USE_SSL=False
MAIL_FROM=seu_email_verificado_no_brevo@exemplo.com