TMDB_API_KEY=sua_chave_aqui
DB_HOST=35.226.64.52
DB_USER=usuario_disciplina
DB_PASSWORD=senha_disciplina
DB_NAME=banco_disciplina
SECRET_KEY=chave_flask
PORTA_ALUNO=5000

MMAIL_SERVER=sandbox.smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=seu_usuario_do_mailtrap
MAIL_PASSWORD=sua_senha_do_mailtrap
MAIL_USE_TLS=True
MAIL_USE_SSL=False